<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Ship Locations</title>
    <link rel="stylesheet" href="game.css">
</head>

<body>
    <div id="oneGame">
        <div v-if="loading">
            <p>Loading...</p>
        </div>
        <div v-else>
            <p>{{ viewingPlayer }}(YOU) vs </p>

            <table>
                <thead>
                    <tr>
                        <th v-for="(row, index1) in rowNumber" :key="index1">{{ row }}</th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="(location, index2) in locationArray" :key="index2">
                        <td class="normal" v-bind:class="{shipLocation: checkLocation(location[0])}">{{ location[0] }}</td>
                        <td class="normal" v-bind:class="{shipLocation: checkLocation(location[1])}">{{ location[1] }}</td>
                        <td class="normal" v-bind:class="{shipLocation: checkLocation(location[2])}">{{ location[2] }}</td>
                        <td class="normal" v-bind:class="{shipLocation: checkLocation(location[3])}">{{ location[3] }}</td>
                        <td class="normal" v-bind:class="{shipLocation: checkLocation(location[4])}">{{ location[4] }}</td>
                        <td class="normal" v-bind:class="{shipLocation: checkLocation(location[5])}">{{ location[5] }}</td>
                        <td class="normal" v-bind:class="{shipLocation: checkLocation(location[6])}">{{ location[6] }}</td>
                        <td class="normal" v-bind:class="{shipLocation: checkLocation(location[7])}">{{ location[7] }}</td>
                        <td class="normal" v-bind:class="{shipLocation: checkLocation(location[8])}">{{ location[8] }}</td>
                    </tr>
                </tbody>

            </table>

        </div>





    </div>




    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <!-- <script src="https://code.jquery.com/jquery-2.2.0.js"></script> -->
    <script src="game.js"></script>

</body>

</html>