#locations table {
    width: 90%;
    border-collapse: collapse;
    /* width: 80%; */
}

#locations th,
#locations td {
    border: 2px black solid;
    height: 50px;
    width: 50px;
    text-align: center;
}

.shipLocation {
    background-color: blue;
    border-color: blue;
    border-radius: 2%;
    /* height: 100%;
    width: 100%; */
}

.chosenLocation {
    background-color: rgb(0, 255, 200);
    border-color: rgb(0, 255, 200);
    border-radius: 2%;
}
.NoLocation {
    background-color: white;
    border-color: white;
    border-radius: 2%;
}

.salvoLocation {
    background-color: orange;
    border-color: orange;
    border-radius: 50%;
    height: 100%;
    width: 100%;
    text-align: center;
    
}

.hitShip {
    background-color: red;
    border-color: red;
    border-radius: 50%;
    height: 100%;
    width: 100%;
    text-align: center;
}

#players span {
    border: 1px black solid;
    padding: 5px;
}

#ships_to_place label input {
    display: none;
}