#table_for_scores {
    width: 90%;
    border: 2px gray solid;
}

#table_for_scores th,
#table_for_scores td {
    height: 50px;
    text-align: center;
}

.viewing_player {
    border: 1px black solid;
    border-radius: 5%;
    padding: 1%;
    margin-right: 1em;
}