#locations table {
    width: 90%;
    border-collapse: collapse;
    /* width: 80%; */
}

#locations th,
#locations td {
    border: 2px black solid;
    height: 50px;
    width: 50px;
    text-align: center;
}

.shipLocation {
    background-color: blue;
    border-color: blue;
    border-radius: 2%;
    /* height: 100%;
    width: 100%; */
}

.chosenLocation {
    background-color: rgb(148, 188, 248);
    border-color: rgb(148, 188, 248);
    border-radius: 2%;
}
.noLocation {
    background-color: red;
    border-color: red;
    border-radius: 2%;
}

/* .noLocation::before,
.noLocation::after {
    color: red;
    position: absolute;
    top: 50%;
    left: 0;
    content: "";
} */

.salvoLocation {
    background-color: orange;
    border-color: orange;
    border-radius: 50%;
    height: 100%;
    width: 100%;
    text-align: center;
    
}

/* .hitSalvo {
    background-color: rgb(40, 30, 128);
    border-color: rgb(40, 30, 128);
    border-radius: 2%;
    height: 100%;
    width: 100%;
} */

.hitShip {
    background-color: red;
    border-color: red;
    border-radius: 50%;
    height: 100%;
    width: 100%;
    text-align: center;
}

#players span {
    border: 1px black solid;
    padding: 5px;
}

#ships_to_place label input {
    display: none;
}

#aircraft {
    width: 250px;
    height: 50px;
    background-color: blue;
}

#aircraft:hover {
    width: 250px;
    height: 50px;
    background-color: rgb(149, 204, 248);
}

#aircraft:disabled {
    width: 250px;
    height: 50px;
    background-color:rgb(16, 2, 90);
}

#battleship {
    width: 200px;
    height: 50px;
    background-color: blue;
}

#battleship:hover {
    width: 200px;
    height: 50px;
    background-color: rgb(149, 204, 248);
}

#battleship:disabled {
    width: 200px;
    height: 50px;
    background-color:rgb(16, 2, 90);
}

#destroyer, #submarine {
    width: 150px;
    height: 50px;
    background-color: blue;
}

#destroyer:hover, #submarine:hover {
    width: 150px;
    height: 50px;
    background-color: rgb(149, 204, 248);
}

#destroyer:disabled, #submarine:disabled {
    width: 150px;
    height: 50px;
    background-color:rgb(16, 2, 90);
}

#patrol {
    width: 100px;
    height: 50px;
    background-color: blue;
}

#patrol:hover {
    width: 100px;
    height: 50px;
    background-color: rgb(149, 204, 248);
}

#patrol:disabled {
    width: 100px;
    height: 50px;
    background-color:rgb(16, 2, 90);
}

#placingShip {
    border: 1px solid black;
    padding: 10px;
}

#placingShip p span{
    color: blue;
}

#showMessage {
    color: crimson;
}

#turnNumber {
    color: crimson;
}

#attack_button {
    margin-top: 40px;
    width: 200px;
    height: 100px;
    background-color:rgb(247, 67, 35);
}

#placeShipButton {
    margin-top: 20px;
    width: 200px;
    height: 50px;
    background-color:rgb(247, 208, 35);
}

#opponent_aircraft, #opponent_battleship,
#opponent_destroyer, #opponent_submarine,
#opponent_patrol {
    background-color: rgb(60, 203, 228);
}

#opponent_aircraft:disabled, #opponent_battleship:disabled,
#opponent_destroyer:disabled, #opponent_submarine:disabled,
#opponent_patrol:disabled {
    background-color: rgb(173, 24, 24);
}

#hitcolor {
    color: rgb(173, 24, 24);
}

#opponent_shipcolor {
    color: rgb(60, 203, 228);
}