#oneGame table {
    border-collapse: collapse;
    /* width: 80%; */
}

#oneGame th,
#oneGame td {
    border: 1px black solid;
    height: 50px;
    width: 50px;
}

.normal {
    background-color: white;
}

.shipLocation {
    background-color: blue;
    border-color: blue;
    border-radius: 50%;
}

#players span {
    border: 1px black solid;
    padding: 5px;
}