<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Ship Locations</title>
    <link rel="stylesheet" href="game.css">
</head>

<body>
    <div id="oneGame">
        <div v-if="loading">
            <p>Loading...</p>
        </div>
        <div v-else>

            <table>
                <thead>
                    <tr>
                        <th v-for="(rowCell, index) in row" :key="index">{{ rowCell }}</th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="(columnCell, index) in column" :key="index">
                        <th>{{ columnCell }}</th>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                </tbody>

            </table>

        </div>





    </div>




    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <!-- <script src="https://code.jquery.com/jquery-2.2.0.js"></script> -->
    <script src="game.js"></script>

</body>

</html>