<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Ship Locations</title>
    <link rel="stylesheet" href="game.css">
</head>

<body>
    <div id="oneGame">
        <div v-if="loading">
            <p>Loading...</p>
        </div>
        <div v-else>
            <p id="players"><span>{{ viewingPlayer }} (YOU)</span> vs <span>{{ oponentPlayer }}</span></p>

            <table>
                <thead>
                    <tr>
                        <th v-for="(row, index1) in rowNumber" :key="index1">{{ row }}</th>
                    </tr>
                </thead>

                <tbody>
                    <tr v-for="(location, index2) in locationArray" :key="index2">
                        <td>{{ location[0] }}</td>
                        <td class="normal" v-bind:class="{'shipLocation': checkLocation(location[1]), 'oponentSalvo': checkOponentSalvoLocation(location[1]), 'hitShip': hitShip(location[1])}"></td>
                        <td class="normal" v-bind:class="{'shipLocation': checkLocation(location[2]), 'oponentSalvo': checkOponentSalvoLocation(location[2]), 'hitShip': hitShip(location[2])}"></td>
                        <td class="normal" v-bind:class="{'shipLocation': checkLocation(location[3]), 'oponentSalvo': checkOponentSalvoLocation(location[3]), 'hitShip': hitShip(location[3])}"></td>
                        <td class="normal" v-bind:class="{'shipLocation': checkLocation(location[4]), 'oponentSalvo': checkOponentSalvoLocation(location[4]), 'hitShip': hitShip(location[4])}"></td>
                        <td class="normal" v-bind:class="{'shipLocation': checkLocation(location[5]), 'oponentSalvo': checkOponentSalvoLocation(location[5]), 'hitShip': hitShip(location[5])}"></td>
                        <td class="normal" v-bind:class="{'shipLocation': checkLocation(location[6]), 'oponentSalvo': checkOponentSalvoLocation(location[6]), 'hitShip': hitShip(location[6])}"></td>
                        <td class="normal" v-bind:class="{'shipLocation': checkLocation(location[7]), 'oponentSalvo': checkOponentSalvoLocation(location[7]), 'hitShip': hitShip(location[7])}"></td>
                        <td class="normal" v-bind:class="{'shipLocation': checkLocation(location[8]), 'oponentSalvo': checkOponentSalvoLocation(location[8]), 'hitShip': hitShip(location[8])}"></td>
                    </tr>
                </tbody>
            </table>

            <p>Salvo Location</p>
            <table>
                <thead>
                    <tr>
                        <th v-for="(row, index1) in rowNumber" :key="index1">{{ row }}</th>
                    </tr>
                </thead>

                <tbody>
                    <tr v-for="(salvo, index3) in salvoArray" :key="index3">
                        <td>{{ salvo[0] }}</td>
                        <td class="normal" v-bind:class="{salvoLocation: checkMySalvoLocation(salvo[1])}"></td>
                        <td class="normal" v-bind:class="{salvoLocation: checkMySalvoLocation(salvo[2])}"></td>
                        <td class="normal" v-bind:class="{salvoLocation: checkMySalvoLocation(salvo[3])}"></td>
                        <td class="normal" v-bind:class="{salvoLocation: checkMySalvoLocation(salvo[4])}"></td>
                        <td class="normal" v-bind:class="{salvoLocation: checkMySalvoLocation(salvo[5])}"></td>
                        <td class="normal" v-bind:class="{salvoLocation: checkMySalvoLocation(salvo[6])}"></td>
                        <td class="normal" v-bind:class="{salvoLocation: checkMySalvoLocation(salvo[7])}"></td>
                        <td class="normal" v-bind:class="{salvoLocation: checkMySalvoLocation(salvo[8])}"></td>
                    </tr>
                </tbody>

            </table>

        </div>





    </div>




    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <!-- <script src="https://code.jquery.com/jquery-2.2.0.js"></script> -->
    <script src="game.js"></script>

</body>

</html>